# **Salary of Data Professions**

## **Limpieza, organización y estandarización de los datos**

In [ ]:
# Implementación de las librerias utilizadas.
from IPython.display import display # Para mostrar múltiples resultados en una sola celda.
import pandas as pd
import numpy as np

In [ ]:
# Generamos una variable con la ruta parcial.
dataset= "/content/drive/MyDrive/Datasets/"

In [ ]:
# Declaracion de variables generales.
df = pd.DataFrame()
df_current = pd.DataFrame()

In [ ]:
try:
  # Cargamos el archivo, para su principal lectura y procesamiento de datos.
  df = pd.read_csv(dataset + 'Salary_Professions.csv')
  display(df)
except Exception as e:
  print("Algo ocurrio con la lectura del archivo verifica la ruta")
  print(f'Error: {e}')
else:
  print("Lectura finalizada")

,FIRST NAME,LAST NAME,SEX,DOJ,CURRENT DATE,DESIGNATION,AGE,SALARY,UNIT,LEAVES USED,LEAVES REMAINING,RATINGS,PAST EXP
0,TOMASA,ARMEN,F,5-18-2014,01-07-2016,Analyst,21.0,44570,Finance,24.0,6.0,2.0,0
1,ANNIE,NaN,F,NaN,01-07-2016,Associate,NaN,89207,Web,NaN,13.0,NaN,7
2,OLIVE,ANCY,F,7-28-2014,01-07-2016,Analyst,21.0,40955,Finance,23.0,7.0,3.0,0
3,CHERRY,AQUILAR,F,04-03-2013,01-07-2016,Analyst,22.0,45550,IT,22.0,8.0,3.0,0
4,LEON,ABOULAHOUD,M,11-20-2014,01-07-2016,Analyst,NaN,43161,Operations,27.0,3.0,NaN,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2634,KATHERINE,ALSDON,F,6-28-2011,01-07-2016,Senior Manager,36.0,185977,Management,15.0,15.0,5.0,10
2635,LOUISE,ALTARAS,F,1-14-2014,01-07-2016,Analyst,23.0,45758,IT,17.0,13.0,2.0,0
2636,RENEE,ALVINO,F,1-23-2014,01-07-2016,Analyst,21.0,47315,Web,29.0,1.0,5.0,0
2637,TERI,ANASTASIO,F,3-17-2014,01-07-2016,Analyst,24.0,45172,Web,23.0,7.0,3.0,1
2638,GREGORY,ABARCA,M,9-18-2014,01-07-2016,Analyst,24.0,49176,Marketing,17.0,13.0,2.0,2

Lectura finalizada

In [ ]:
# Obtenemos un panorama general de los datos.
def info_general_df(df):
  print('Información general del DataFrame')
  print(f'Cantidad de filas y columnas: {df.shape}')
  print("-"*50)
  print(f'Cantidad de datos nulos por columna: \n{df.isnull().sum()}')
  print("-"*50)
  print(f'Cantidad de datos únicos por columna: \n{df.nunique()}')
  print("-"*50)
  print(f'Tipos de datos por columna: \n{df.dtypes}')

info_general_df(df)

Información general del DataFrame
Cantidad de filas y columnas: (2639, 13)
--------------------------------------------------
Cantidad de datos nulos por columna:
FIRST NAME          0
LAST NAME           2
SEX                 0
DOJ                 1
CURRENT DATE        0
DESIGNATION         0
AGE                 3
SALARY              0
UNIT                0
LEAVES USED         3
LEAVES REMAINING    2
RATINGS             2
PAST EXP            0
dtype: int64
--------------------------------------------------
Cantidad de datos únicos por columna:
FIRST NAME          2367
LAST NAME           2475
SEX                    2
DOJ                  967
CURRENT DATE           1
DESIGNATION            6
AGE                   25
SALARY              2305
UNIT                   6
LEAVES USED           16
LEAVES REMAINING      16
RATINGS                4
PAST EXP              21
dtype: int64
--------------------------------------------------
Tipos de datos por columna:
FIRST NAME           object
LAST NAME            object
SEX                  object
DOJ                  object
CURRENT DATE         object
DESIGNATION          object
AGE                 float64
SALARY                int64
UNIT                 object
LEAVES USED         float64
LEAVES REMAINING    float64
RATINGS             float64
PAST EXP              int64
dtype: object

In [ ]:
# Generamos una copia del dataframe original.
df_current = df.copy()
df_current.head()

,FIRST NAME,LAST NAME,SEX,DOJ,CURRENT DATE,DESIGNATION,AGE,SALARY,UNIT,LEAVES USED,LEAVES REMAINING,RATINGS,PAST EXP
0,TOMASA,ARMEN,F,5-18-2014,01-07-2016,Analyst,21.0,44570,Finance,24.0,6.0,2.0,0
1,ANNIE,NaN,F,NaN,01-07-2016,Associate,NaN,89207,Web,NaN,13.0,NaN,7
2,OLIVE,ANCY,F,7-28-2014,01-07-2016,Analyst,21.0,40955,Finance,23.0,7.0,3.0,0
3,CHERRY,AQUILAR,F,04-03-2013,01-07-2016,Analyst,22.0,45550,IT,22.0,8.0,3.0,0
4,LEON,ABOULAHOUD,M,11-20-2014,01-07-2016,Analyst,NaN,43161,Operations,27.0,3.0,NaN,3

In [ ]:
# Convertimos los las columnas en sus tipos de datos correspondientes.
df_current['DOJ'] = pd.to_datetime(df_current['DOJ'], errors='coerce')
df_current['CURRENT DATE'] = pd.to_datetime(df_current['CURRENT DATE'], errors='coerce')

# Lista de columnas numéricas que queremos convertir a sus tipos adecuados
numeric_columns = ['AGE', 'SALARY', 'LEAVES USED', 'LEAVES REMAINING', 'RATINGS', 'PAST EXP']

# Usar un bucle para convertir todas las columnas numéricas
for col in numeric_columns:
    df_current[col] = pd.to_numeric(df_current[col], errors='coerce').astype('Int64')

# Imprimir los tipos de datos para asegurarse de que todo se haya convertido correctamente
print("Conversion finalizada")
display(df_current.dtypes)
print("-"*50)
display(df_current)

Conversion finalizada

FIRST NAME                  object
LAST NAME                   object
SEX                         object
DOJ                 datetime64[ns]
CURRENT DATE        datetime64[ns]
DESIGNATION                 object
AGE                          Int64
SALARY                       Int64
UNIT                        object
LEAVES USED                  Int64
LEAVES REMAINING             Int64
RATINGS                      Int64
PAST EXP                     Int64
dtype: object

--------------------------------------------------

,FIRST NAME,LAST NAME,SEX,DOJ,CURRENT DATE,DESIGNATION,AGE,SALARY,UNIT,LEAVES USED,LEAVES REMAINING,RATINGS,PAST EXP
0,TOMASA,ARMEN,F,2014-05-18,2016-01-07,Analyst,21,44570,Finance,24,6,2,0
1,ANNIE,NaN,F,NaT,2016-01-07,Associate,<NA>,89207,Web,<NA>,13,<NA>,7
2,OLIVE,ANCY,F,2014-07-28,2016-01-07,Analyst,21,40955,Finance,23,7,3,0
3,CHERRY,AQUILAR,F,2013-04-03,2016-01-07,Analyst,22,45550,IT,22,8,3,0
4,LEON,ABOULAHOUD,M,2014-11-20,2016-01-07,Analyst,<NA>,43161,Operations,27,3,<NA>,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2634,KATHERINE,ALSDON,F,2011-06-28,2016-01-07,Senior Manager,36,185977,Management,15,15,5,10
2635,LOUISE,ALTARAS,F,2014-01-14,2016-01-07,Analyst,23,45758,IT,17,13,2,0
2636,RENEE,ALVINO,F,2014-01-23,2016-01-07,Analyst,21,47315,Web,29,1,5,0
2637,TERI,ANASTASIO,F,2014-03-17,2016-01-07,Analyst,24,45172,Web,23,7,3,1
2638,GREGORY,ABARCA,M,2014-09-18,2016-01-07,Analyst,24,49176,Marketing,17,13,2,2

In [ ]:
info_general_df(df_current)

Información general del DataFrame
Cantidad de filas y columnas: (2639, 13)
--------------------------------------------------
Cantidad de datos nulos por columna:
FIRST NAME          0
LAST NAME           2
SEX                 0
DOJ                 1
CURRENT DATE        0
DESIGNATION         0
AGE                 3
SALARY              0
UNIT                0
LEAVES USED         3
LEAVES REMAINING    2
RATINGS             2
PAST EXP            0
dtype: int64
--------------------------------------------------
Cantidad de datos únicos por columna:
FIRST NAME          2367
LAST NAME           2475
SEX                    2
DOJ                  967
CURRENT DATE           1
DESIGNATION            6
AGE                   25
SALARY              2305
UNIT                   6
LEAVES USED           16
LEAVES REMAINING      16
RATINGS                4
PAST EXP              21
dtype: int64
--------------------------------------------------
Tipos de datos por columna:
FIRST NAME                  object
LAST NAME                   object
SEX                         object
DOJ                 datetime64[ns]
CURRENT DATE        datetime64[ns]
DESIGNATION                 object
AGE                          Int64
SALARY                       Int64
UNIT                        object
LEAVES USED                  Int64
LEAVES REMAINING             Int64
RATINGS                      Int64
PAST EXP                     Int64
dtype: object

In [ ]:
# Procesamiento de datos faltantes.
data_fillna = {
    'LAST NAME': "Desconocido",  # Asignamos una cadena para los nombres faltantes

    # Generar fechas aleatorias para las columnas de fechas
    'DOJ': pd.to_datetime(np.random.uniform(df_current['DOJ'].min().value, df_current['DOJ'].max().value)).normalize(),
    'CURRENT DATE': pd.to_datetime(np.random.uniform(df_current['CURRENT DATE'].min().value, df_current['CURRENT DATE'].max().value)),

    # Usar la media para completar valores numéricos faltantes
    'AGE': int(df_current['AGE'].mean()),  # Convertimos a entero usando int()
    'LEAVES USED': int(df_current['LEAVES USED'].mean()),  # Similar, convertimos a entero
    'LEAVES REMAINING': int(df_current['LEAVES REMAINING'].mean()),  # Convertimos la media a entero
    'RATINGS': int(df_current['RATINGS'].mean())  # Convertimos la media a entero
}

# Usar fillna con el diccionario
df_current.fillna(data_fillna, inplace=True)
# Verificar la cantidad de nulos restantes
print(df_current.isnull().sum())

FIRST NAME          0
LAST NAME           0
SEX                 0
DOJ                 0
CURRENT DATE        0
DESIGNATION         0
AGE                 0
SALARY              0
UNIT                0
LEAVES USED         0
LEAVES REMAINING    0
RATINGS             0
PAST EXP            0
dtype: int64

In [ ]:
df_current

,FIRST NAME,LAST NAME,SEX,DOJ,CURRENT DATE,DESIGNATION,AGE,SALARY,UNIT,LEAVES USED,LEAVES REMAINING,RATINGS,PAST EXP
0,TOMASA,ARMEN,F,2014-05-18,2016-01-07,Analyst,21,44570,Finance,24,6,2,0
1,ANNIE,Desconocido,F,2012-04-25,2016-01-07,Associate,24,89207,Web,22,13,3,7
2,OLIVE,ANCY,F,2014-07-28,2016-01-07,Analyst,21,40955,Finance,23,7,3,0
3,CHERRY,AQUILAR,F,2013-04-03,2016-01-07,Analyst,22,45550,IT,22,8,3,0
4,LEON,ABOULAHOUD,M,2014-11-20,2016-01-07,Analyst,24,43161,Operations,27,3,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2634,KATHERINE,ALSDON,F,2011-06-28,2016-01-07,Senior Manager,36,185977,Management,15,15,5,10
2635,LOUISE,ALTARAS,F,2014-01-14,2016-01-07,Analyst,23,45758,IT,17,13,2,0
2636,RENEE,ALVINO,F,2014-01-23,2016-01-07,Analyst,21,47315,Web,29,1,5,0
2637,TERI,ANASTASIO,F,2014-03-17,2016-01-07,Analyst,24,45172,Web,23,7,3,1
2638,GREGORY,ABARCA,M,2014-09-18,2016-01-07,Analyst,24,49176,Marketing,17,13,2,2

In [ ]:
# Obtenemos todas las columnas.
current_name_list=df_current.columns.tolist()
print(current_name_list)

column_name_mapping = {
    'FIRST NAME': 'first_name',
    'LAST NAME': 'last_name',
    'SEX': 'sex',
    'DOJ': 'date_joining',
    'CURRENT DATE': 'current_date',
    'DESIGNATION': 'designation',
    'AGE': 'age',
    'SALARY': 'salary',
    'UNIT': 'unit',
    'LEAVES USED': 'leaves_used',
    'LEAVES REMAINING': 'leaves_remaining',
    'RATINGS': 'ratings',
    'PAST EXP': 'past_exp'
}

df_current.rename(columns=column_name_mapping, inplace=True)

['FIRST NAME', 'LAST NAME', 'SEX', 'DOJ', 'CURRENT DATE', 'DESIGNATION', 'AGE', 'SALARY', 'UNIT', 'LEAVES USED', 'LEAVES REMAINING', 'RATINGS', 'PAST EXP']

In [ ]:
df_current.head()

,first_name,last_name,sex,date_joining,current_date,designation,age,salary,unit,leaves_used,leaves_remaining,ratings,past_exp
0,TOMASA,ARMEN,F,2014-05-18,2016-01-07,Analyst,21,44570,Finance,24,6,2,0
1,ANNIE,Desconocido,F,2012-04-25,2016-01-07,Associate,24,89207,Web,22,13,3,7
2,OLIVE,ANCY,F,2014-07-28,2016-01-07,Analyst,21,40955,Finance,23,7,3,0
3,CHERRY,AQUILAR,F,2013-04-03,2016-01-07,Analyst,22,45550,IT,22,8,3,0
4,LEON,ABOULAHOUD,M,2014-11-20,2016-01-07,Analyst,24,43161,Operations,27,3,3,3

In [ ]:
# Estandarizamos informacion del dataframe actual ej: nombres y apelidos en formato Capital
df_current[['first_name', 'last_name']] = df_current[['first_name', 'last_name']].apply(lambda col: col.str.capitalize())
df_current.head()

,first_name,last_name,sex,date_joining,current_date,designation,age,salary,unit,leaves_used,leaves_remaining,ratings,past_exp
0,Tomasa,Armen,F,2014-05-18,2016-01-07,Analyst,21,44570,Finance,24,6,2,0
1,Annie,Desconocido,F,2012-04-25,2016-01-07,Associate,24,89207,Web,22,13,3,7
2,Olive,Ancy,F,2014-07-28,2016-01-07,Analyst,21,40955,Finance,23,7,3,0
3,Cherry,Aquilar,F,2013-04-03,2016-01-07,Analyst,22,45550,IT,22,8,3,0
4,Leon,Aboulahoud,M,2014-11-20,2016-01-07,Analyst,24,43161,Operations,27,3,3,3

In [ ]:
info_general_df(df_current)

Información general del DataFrame
Cantidad de filas y columnas: (2639, 13)
--------------------------------------------------
Cantidad de datos nulos por columna:
first_name          0
last_name           0
sex                 0
date_joining        0
current_date        0
designation         0
age                 0
salary              0
unit                0
leaves_used         0
leaves_remaining    0
ratings             0
past_exp            0
dtype: int64
--------------------------------------------------
Cantidad de datos únicos por columna:
first_name          2367
last_name           2476
sex                    2
date_joining         968
current_date           1
designation            6
age                   25
salary              2305
unit                   6
leaves_used           16
leaves_remaining      16
ratings                4
past_exp              21
dtype: int64
--------------------------------------------------
Tipos de datos por columna:
first_name                  object
last_name                   object
sex                         object
date_joining        datetime64[ns]
current_date        datetime64[ns]
designation                 object
age                          Int64
salary                       Int64
unit                        object
leaves_used                  Int64
leaves_remaining             Int64
ratings                      Int64
past_exp                     Int64
dtype: object

In [ ]:
# Detectar valores duplicados
df_current.drop_duplicates(inplace=True)
info_general_df(df_current)

Información general del DataFrame
Cantidad de filas y columnas: (2478, 13)
--------------------------------------------------
Cantidad de datos nulos por columna:
first_name          0
last_name           0
sex                 0
date_joining        0
current_date        0
designation         0
age                 0
salary              0
unit                0
leaves_used         0
leaves_remaining    0
ratings             0
past_exp            0
dtype: int64
--------------------------------------------------
Cantidad de datos únicos por columna:
first_name          2367
last_name           2476
sex                    2
date_joining         968
current_date           1
designation            6
age                   25
salary              2305
unit                   6
leaves_used           16
leaves_remaining      16
ratings                4
past_exp              21
dtype: int64
--------------------------------------------------
Tipos de datos por columna:
first_name                  object
last_name                   object
sex                         object
date_joining        datetime64[ns]
current_date        datetime64[ns]
designation                 object
age                          Int64
salary                       Int64
unit                        object
leaves_used                  Int64
leaves_remaining             Int64
ratings                      Int64
past_exp                     Int64
dtype: object

## **Calcular metricas y rangos de datos**

In [ ]:
# Función para calcular antigüedad en años y días restantes
def calcular_antiguedad(row):
    diferencia = row['current_date'] - row['date_joining']
    antiguedad_dias = diferencia.days
    antiguedad_anios = antiguedad_dias // 365  # Aproximación por años completos
    dias_restantes = antiguedad_dias % 365  # Días restantes después de los años completos
    return pd.Series([antiguedad_anios, dias_restantes])

# Aplicar la función usando apply
df_metrics = df_current.copy()
df_metrics[['tenure_years', 'remaining_days']] = df_metrics.apply(calcular_antiguedad, axis=1)

# Mostrar el DataFrame resultante
df_metrics[['tenure_years', 'remaining_days']]

      tenure_years  remaining_days
0                1             234
1                3             257
2                1             163
3                2             279
4                1              48
...            ...             ...
2634             4             194
2635             1             358
2636             1             349
2637             1             296
2638             1             111

[2478 rows x 2 columns]

In [ ]:
# aplicamos la funcion de map, para generar un rango de edades (age)
def age_range(age):
    if 20 <= age <= 25:
        return '20-25'
    elif 26 <= age <= 30:
        return '26-30'
    elif 31 <= age <= 35:
        return '31-35'
    elif 36 <= age <= 40:
        return '36-40'
    elif 41 <= age <= 45:
        return '41-45'
    else:
        return 'Unknown'

df_metrics['age_range'] = df_metrics['age'].map(age_range)
df_metrics['age_range']

0       20-25
1       20-25
2       20-25
3       20-25
4       20-25
        ...
2634    36-40
2635    20-25
2636    20-25
2637    20-25
2638    20-25
Name: age_range, Length: 2478, dtype: object

In [ ]:
info_general_df(df_metrics)

Información general del DataFrame
Cantidad de filas y columnas: (2478, 16)
--------------------------------------------------
Cantidad de datos nulos por columna:
first_name          0
last_name           0
sex                 0
date_joining        0
current_date        0
designation         0
age                 0
salary              0
unit                0
leaves_used         0
leaves_remaining    0
ratings             0
past_exp            0
tenure_years        0
remaining_days      0
age_range           0
dtype: int64
--------------------------------------------------
Cantidad de datos únicos por columna:
first_name          2367
last_name           2476
sex                    2
date_joining         968
current_date           1
designation            6
age                   25
salary              2305
unit                   6
leaves_used           16
leaves_remaining      16
ratings                4
past_exp              21
tenure_years           7
remaining_days       364
age_range              5
dtype: int64
--------------------------------------------------
Tipos de datos por columna:
first_name                  object
last_name                   object
sex                         object
date_joining        datetime64[ns]
current_date        datetime64[ns]
designation                 object
age                          Int64
salary                       Int64
unit                        object
leaves_used                  Int64
leaves_remaining             Int64
ratings                      Int64
past_exp                     Int64
tenure_years                 int64
remaining_days               int64
age_range                   object
dtype: object

In [ ]:
# Filtramos informacion de interes con respecto a rangos de edades '20-25'
df_metrics_20_25 = df_metrics[df_metrics['age_range'] == '41-45']
df_metrics_20_25.sort_values(by='salary', ascending=False)

,first_name,last_name,sex,date_joining,current_date,designation,age,salary,unit,leaves_used,leaves_remaining,ratings,past_exp,tenure_years,remaining_days,age_range
166,Derek,Aboulissan,M,2013-02-13,2016-01-07,Director,42,388112,Marketing,27,3,2,18,2,328,41-45
258,Dominique,Anker,F,2009-08-19,2016-01-07,Director,41,375647,Finance,20,10,5,14,6,142,41-45
2110,Jacquline,Ardman,F,2010-11-14,2016-01-07,Director,41,355337,IT,24,6,3,12,5,55,41-45
325,Bonita,Andreassen,F,2012-09-02,2016-01-07,Director,45,324783,Finance,24,6,5,19,3,127,41-45
2455,Antone,Alexandropoul,M,2015-01-16,2016-01-07,Director,42,324129,Web,27,3,3,16,0,356,41-45
160,Nicole,Alsobrook,F,2010-06-27,2016-01-07,Director,41,323196,Marketing,23,7,3,10,5,195,41-45
2342,Lakeisha,Aponte,F,2012-07-21,2016-01-07,Director,45,320148,Management,18,12,2,18,3,170,41-45
703,Jaclyn,Angley,F,2009-12-10,2016-01-07,Director,45,319141,Web,21,9,4,17,6,29,41-45
228,Micheal,Ableman,M,2011-04-20,2016-01-07,Director,43,313649,IT,21,9,2,17,4,263,41-45
1511,Sheldon,Adorno,M,2009-07-18,2016-01-07,Director,44,294564,Web,24,6,5,13,6,174,41-45
172,Delphine,Arevalo,F,2009-01-23,2016-01-07,Director,43,284733,Web,15,15,2,11,6,350,41-45
2280,Kay,Amderson,F,2013-05-24,2016-01-07,Director,42,270193,Operations,28,2,4,15,2,228,41-45
683,Numbers,Akimseu,M,2014-12-08,2016-01-07,Director,45,253284,IT,15,15,2,23,1,30,41-45
1947,Leta,Arbucci,F,2009-06-20,2016-01-07,Director,42,236901,Operations,23,7,5,11,6,202,41-45
263,Nellie,Amauty,F,2014-08-10,2016-01-07,Director,43,235565,Web,20,10,4,17,1,150,41-45
1500,Sonya,Ammann,F,2014-07-05,2016-01-07,Director,41,234374,IT,30,0,2,17,1,186,41-45
1771,Emory,Akery,M,2012-02-22,2016-01-07,Director,44,225339,Management,23,7,5,16,3,320,41-45

In [ ]:
# Agrupar por experiencia previa (past_exp) y calcular el salario promedio
experiencia_vs_salario = df_metrics.groupby('past_exp')['salary'].mean()
experiencia_vs_salario

past_exp
0      46920.295603
1      48088.893478
2      49515.771261
3      55669.954248
4      79575.784314
5      84746.607843
6     110300.130435
7     113521.307692
8     128939.703704
9     140512.235294
10        177180.75
11    175180.352941
12         213079.7
13         228201.6
14        232387.25
15         269980.2
16    233613.666667
17         258904.4
18         354130.0
19         324783.0
23         253284.0
Name: salary, dtype: Float64

In [ ]:
# Agrupar por departamento y calcular el salario promedio
salario_por_departamento = df_metrics.groupby('unit')['salary'].mean()
salario_por_departamento

unit
Finance       58376.647482
IT            59149.832952
Management    59063.949622
Marketing     59140.591241
Operations     55520.21875
Web              57174.475
Name: salary, dtype: Float64